body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-title {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}
.product-link {
    color: aquamarine;
    font-size: 16px;
}